<h1 id="home-h1">Video Game Rental</h1>

<div class="flex-container">

<img id="home-img" src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/12/Switch-Compare-796x417.jpg" alt="Image not available" usemap="#image-map">


<map name="image-map">
    <area  href="/games/find/platform/?platform=Xbox+One" coords="265,2,3,416" shape="rect">
    <area  href="/games/find/platform/?platform=Nintendo+Switch" coords="528,416,266,0" shape="rect">
    <area  href="/games/find/platform/?platform=PS4" coords="529,0,796,416" shape="rect">
</map>

</div>
