* {
  font-family: 'Alegreya', serif;
}

body {
  background-color: #fff;
}

.break {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 99%;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
}

#main-nav {
  background: #333;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  font-size: 25px;
}

#main-nav li {
  display: inline;
  margin-right: 10px;
}

#main-nav ul {
  margin-top: 0;
  font-size: 30px;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

#main-nav img {
  color: white;
  text-decoration: none;
  height: 40px;
  margin-top: 5px;
  border-radius: 20px;
  float: right;
}

a {
  color: Blue;
  text-decoration: none;
}

form {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  font-size: 25px;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
}

form button {
  font-size: 20px;
  border-radius: 5px;
}

form select {
  font-size: 20px;
}

/* Games pages css */

.games img {
  height: 200px;
  width: 200px;
}

.games {
  min-width: unset;
  text-align: center;
  padding: 40px;
  border: #333 solid 1px;
  border-radius: 40px;
  margin: 10px;
  box-shadow: 3px -4px 19px black;
  max-width: 200px;
}


.games_nav {
    order: -1;
}

.games_nav li {
  display: block;
  list-style: none;
  padding-left: 5px;
  text-align: center;
}

.search-bar {
  /* align-self: flex-end; */
  flex-direction: inherit;
  /* height: 30px; */
  /* font-size: 20px; */
  /* width: 33%; */
  /* justify-content: flex-end; */
}

.search-bar input {
  font-size: 20px;
}

/* custmers pages */


.customers {
  text-align: center;
  padding: 40px;
  background-color: #333;
  color: white;
  border-radius: 50px;
  border: red 10px solid;
  margin-top: 20px;
}

.customers_nav {
  width: 100%;
}

.customers_nav form {
  align-items: center;
}

.customers_nav button {
  width: 150px;
  text-align: center;
}

/* Rentals pages  */

.rentals {
  text-align: center;
}

.rental_nav {
  width: 100%;
}

.rental_nav form {
  align-items: center;
}

.rental_nav button {
  width: 150px;
  text-align: center;
}
