* {
  font-family: 'Alegreya', serif;
}

.confirmation-message {
  font-size: 30px;
  text-align: center;
  margin:150px;
}

body {
  margin: 0;
  background-color: #fffffff2;
  background-color: white;
}

body {}

.break {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 99%;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 black;
  color: black;
  font-size: 50px;
}

h1 {}

#main-nav {
  background: #333;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  font-size: 25px;
  border: red 2px solid;
  overflow: visible;
  height: fit-content;
}


#main-nav li {
  display: inline;
  margin-right: 10px;
  padding: 5px;
}

#main-nav ul {
  margin: 10px;
  font-size: 30px;
  padding-top: 3px;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

#main-nav a:hover{
  color: red;
}

#main-nav img {
  color: white;
  text-decoration: none;
  height: 40px;
  margin-top: 2px;
  border-radius: 20px;
  float: right;
  margin-right: 10px;
}


#home-img {
  border-radius: 50px;
  box-shadow: -1px 20px 20px 6px black;
  animation: pop-in 1s ease-out forwards;
  animation-delay: .5s;
  opacity: 0;
}

#home-h1 {
  animation: pop-in 1s ease-out forwards;
  animation-delay: .5s;
  opacity: 0;
}

a {
  color: Blue;
  text-decoration: none;
}

form {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  font-size: 25px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: red 2px solid;
}

form input:hover {
  color: red;
}

form button {
  font-size: 20px;
  border-radius: 5px;
  background-color: #333;
  border: 3px red solid;
  color: white;
}

form button:hover {
  color: red;
}

form select {
  font-size: 20px;
  border: 2px solid;
  background: #333;
  color: white;
}

/* Games pages css */

.games img {
  height: 200px;
  width: 200px;
}

.games {
  min-width: unset;
  text-align: center;
  padding: 40px;
  border: #333 solid 5px;
  border-radius: 10px;
  margin: 10px;
  max-width: 200px;
  background-color: #3330;
  color: black;
}

.games:hover {
  box-shadow: -10px 8px 20px -8px black;
  animation: grow .5s ease-out forwards;
}



.games_nav {
    order: -1;
}

.games_nav li {
  display: block;
  list-style: none;
  padding-left: 5px;
  text-align: center;
}

.search-bar {
  flex-direction: inherit;
}

.search-bar input {
  font-size: 20px;
}


/* custmers pages */


.customers {
  text-align: center;
  padding: 40px;
  background-color: #333;
  color: white;
  border-radius: 50px;
  border: red 2px solid;
  margin: 20px;
  box-shadow: inset 10px -7px 20px 2px #080808;
}

.customers:hover {
  animation: grow .5s ease-out forwards;
}

.customers_nav {
  width: 100%;
}

.customers_nav form {
  align-items: center;
}

.customers_nav button {
  width: 150px;
  text-align: center;
}

/* Rentals pages  */

.rentals {
  text-align: center;
  padding: 40px;
  background-color: #333;
  color: white;
  border-radius: 50px;
  border: red 2px solid;
  margin: 20px;
  box-shadow: inset 10px -7px 20px 2px #080808;
  max-width: 200px;
  min-width: 200px;
}

.rental_nav {order: -1;}

.rental_nav form {
  align-items: center;
}

.rental_nav button {
  width: 150px;
  text-align: center;
}

.rentals:hover {
  animation: grow .5s ease-out forwards;
}

/*  animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0.5;
    transform: translateX(-1000px) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes grow {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}
