<h1>Add New Game</h1>

<form action="/games/" method="post">

  <label for="name">Name/Title:</label>
  <input type="text" name="name" id="name">

  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre">

  <label for="platform">Platform:</label>
  <input type="text" name="platform" id="platform">

  <label for="release_date">Release Date:</label>
  <input type="date" name="release_date" id="release_date">

  <label for="box_art">Box Art URL</label>
  <input type="text" name="box_art" id="box_art">

  <input type="submit" value="Add New Game">

</form>
