<% customer = Customer.find_by_id(@rental.customer_id) %>
<% game = Game.find_by_id(@rental.game_id) %>

<p class="confirmation-message"><%= customer.first_name %> <%= customer.last_name %> has returned
<%= game.name %> and it has been checked back in to stock </p>
