<h1>Add New Customer</h1>

<form action="/customers/" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" required>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" required>

  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" id="phone_number" required>

  <label for="date_of_birth">Birthday</label>
  <input type="date" name="date_of_birth" id="date_of_birth" required>

  <input type="submit" value="Create Customer">

</form>
